---
import { getTranslations } from "../../i18n/utils";
import JobCard from "./JobCard";
import { jobs } from "./jobs";
const { currentLocale } = Astro;
const t = getTranslations(currentLocale ?? "en");
---

<div class="flex flex-col items-center w-full dark:text-gray-300">
  <h1 class="font-serif text-4xl py-3">{t.jobs.title}</h1>
  <div class="flex flex-col justify-center gap-3">
    {
      jobs.map((job) => (
        <JobCard
          title={job.title}
          employmentType={job.employmentType}
          companyName={job.companyName}
          location={job.location}
          locationType={job.locationType}
          startDate={job.startDate}
          endDate={job.endDate}
          currentWork={job.currentWork}
          technologies={job.technologies}
        />
      ))
    }
  </div>
</div>
