---
import { getTranslations } from "../../i18n/utils";
import Form from "./Form";

const { currentLocale } = Astro;
const t = getTranslations(currentLocale ?? "en");
---

<section
  id="contact"
  class="flex flex-col justify-center items-center w-full gap-4 py-16 dark:text-gray-300"
>
  <h1 class="font-elMessiri text-7xl">{t.contact.title}</h1>
  <p class="font-sans font-semibold text-lg">{t.contact.text}</p>
  <Form
    fullName={t.contact.fullName}
    subjectLabel={t.contact.subject}
    messageLabel={t.contact.message}
    textBtn={t.contact.textBtn}
  />
</section>
